<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hitmarker Online Store</title>

  <!-- Bootstrap core CSS -->
  <link href="template/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="template/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="template/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: black;" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Hitmarker</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <%if(user){%>
                  <a class="nav-link js-scroll-trigger" href="/carro">Carro</a><%}%>
                </li>
                <li class="nav-item">
                  <a  href="#team">
                    <%if(user){%><p class="nav-link js-scroll-trigger"><%=user.username%></p><%}%>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
                </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To Hitmarker Online Store Profile!</div>
        <div class="intro-heading text-uppercase">tell us a little more about yourself</div>
      </div>
    </div>
  </header>
  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Tu perfil</h2>
          <h3 class="section-subheading text-muted">Tu perfil para que nos cuentes un poco mas de ti</h3>
        </div>
      </div>
      <div class="row" style="justify-content: left;">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="template/img/team/user.jpg" alt="">
          </div>
        </div>
        <div class="col-md-7">
                <div class="profile-head">
                        <div class="row">
                                <div class="col-md-6">
                                    <label>DUI: </label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=user.dui%></p>
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre: </label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=user.username%></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email: </label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=user.correo%></p>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-6">
                                        <label>Direccion: </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=user.direccion%></p>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Fecha de Nacimiento: </label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=user.fecha_nac%></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Tarjeta de credito: </label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=user.card%></p>
                                </div>
                            </div>
                            <div class="row" style="display: none">
                                <div class="col-md-6">
                                    <label>Rol: </label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=user.rol%></p>
                                </div>
                            </div>
      </div>
 </body>
</html>